<app-add-todo-form (addTodoEvent)="addTodo($event)"></app-add-todo-form>

<app-alert
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
  (clearMessageEvent)="clearErrorMessage()"
></app-alert>

<div class="mt-5">
  <h4>Zadania</h4>
  <ul class="list-group todos-list" *ngIf="todos.length > 0; else noTask">
    <ng-container *ngFor="let todo of todos; index as i">
      <app-todo [index]="i" [todo]="todo" (changeStatusEvent)="changeTodoStatus($event)" (deleteEvent)="deleteTodo(i)"></app-todo>
    </ng-container>
  </ul>
  <!-- <h5 *ngIf="todos.length === 0">Aktualnie brak zadan</h5> -->
  <ng-template #noTask><h5>Aktualnie brak zadan</h5></ng-template>
</div>

<!-- <div [ngSwitch]="todoSwitchCase">
  <p *ngSwitchCase="'tak'">tak</p>
  <p *ngSwitchCase="'nie'">nie</p>
  <p *ngSwitchDefault>domyslny</p>
</div> -->
